!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title
			Sinatra investigation app
		%link{:href => "default.css", :rel => "stylesheet", :type => "text/css"}
	%body
		#header
			logo ...
		#pagecontent
			= yield
		#footer
			footer ...
			
