-!!! Strict
-%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title&= page_title
		%link{:href => "default.css", :rel => "stylesheet", :type => "text/css"}
		%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
	%body
		#header
			%a{:href => "/"}= 'Home'
			#user= user_name
		#pagecontent
			= yield
		#footer
			footer ...
			
