%br

%h1 Products
- for product in products
	%a{:href => product_url(product) }= product.name
	%br

%input{:type => 'button', :name => 'new_product_button', :id => 'new_product_button', :value => 'Add new product'}

#new_product_section
	%form{:action => '/products', :method => 'post'}
		%label{:for => 'name'} New product name :
		%input{:type => 'textbox', :name => 'name', :id => 'name'}
		%input{:type => 'submit', :value => 'Add new product'}

%br

:javascript
	jQuery(function() {
		$('#new_product_section').hide();
		$('#new_product_button').click(function() { $('#new_product_section').show('slow'); })	
	});

